<div class="container">
  <h1>List of users</h1>
  <table>
    <tr>
      <th>Username</th>
    </tr>
    <tr>
      <% @users.each do |u| %>
      <td><%= u.username %></td>
      <% end %>
    </tr>
  </table>
</div>
